@import './mixins/font.scss';
@import './mixins/mixin.scss';
@import './mixins/color.scss';

html,
body {
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
}

body {
  @include Montserrat();
  background-color: $WHITE_ICE;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  animation: pulse 10s infinite alternate;
}

@keyframes pulse {
  0% {
    background-color: $GOSSIP;
  }
  50% {
    background-color: $WHITE_ICE;
  }

  100% {
    background-color: $HIT_PINK;
  }
}
